{% extends 'navbase.html' %}
{% block content %}
{% load static %}
<div class="container">
<div class="row">
   <div class="col " style="margin-left:7px;">
      <a href="{% url 'addcourse' %}"><img src="{% static "images/course.jpg" %}" style="width:200px; height:200px; ">
        <p class="alert alert-primary" style="width:200px; text-align: center; font-size: 25px; ">ADD COURSE</p>
    </a>
    </div>
        <div class="col  col-md-4" style="float: right;">
            <a href="{% url 'addstudent' %}"><img src="{% static "images/student.png" %}" style="width:200px; height:200px;">
                <p class="alert alert-primary" style="width:200px; text-align: center; font-size: 25px; ">ADD STUDENT</p></a>
          </div>
</div>
<div class="row mt-5">
    <div class="col" style="margin-left:7px;">
        <a href="{% url 'teacherdetails' %}"><img src="{% static "images/teacher.png" %}" style="width:200px; height:200px;"><p class="alert alert-primary" style="width:200px; text-align: center; font-size: 25px; ">SHOW TEACHER</p></a>
      </div>
      <div class="col col-md-4">
        <a href="{% url 'details' %}"><img src="{% static "images/student.png" %}" style="width:200px; height:200px;"><p class="alert alert-primary" style="width:200px; text-align: center; font-size: 25px; ">STUDENT DETAILS</p></a>
      </div>
</div>
</div>
{% endblock %}